.jumbotron {
	background-color: lightblue;
}

/* login/register */
.block {
	display: block;
	margin-bottom: 25px;
}

/*profile page*/
.outline {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
/*	border-radius: 4px;*/
}

.message {
	min-height: 30px;
	padding: 10px;
}