.jumbotron {
	background-color: lightblue;
}

/* edit_user/edit_profile pages */
.multiple {
	margin-top: 25px;
	margin-bottom: 25px;
}

/*profile page*/
.outline {
	border: 1px solid lightgray;
	border-radius: 4px;
}

.message_container {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: yellow;
}

.message {
	min-height: 30px;
	padding: 15px;
	margin-bottom: 25px;
	background-color: #EBF5FF;
}

.comment {
	background-color: #CCFFCC;
	min-height: 30px;
	padding: 15px;
	margin-bottom: 25px;
}
